// Font
//@import "http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800";

// Variables

$blue: #6461F9;
$orange: #F97D2E;
$pink: #F92882;
$font-base: "Open Sans", arial, trebuchet ms, verdana;

$main-color: $orange;
